@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	

	color-scheme: light;
	color: #000;
	background-color: #fff;
	
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* Scroll Bar Customization */

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #000;
	border-radius: 140px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}